<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=devicewidth,initialscale=1,shrinktofit=no">
    <title>{% block title %}Movie Review{% endblock %}</title>
    <link rel= "icon"href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="stylesheet"href="{{url_for('static',filename='css/bootstrap.min.css')}}"type="text/css">
    <link rel="stylesheet"href="{{url_for('static',filename='css/style.css')}}"type="text/css">
</head>
<body>
    <main class = "container">
        <header>
            <h1 class="text-center display-4">
                <a href="{{ url_for('index') }}" class="text-success">
                    <strong>Movie Review</strong>
                    <br>
                    <span>
                        <small class="moviename">Ip Man 4</small>
                    </span>
                    <div id = "logo-img" alt="Logo image"></div>
                </a>
            </h1>
            <div class="text-center">
            You can watch the video here:
            <a href="https://www.youtube.com/watch?v=5DBoq3ATsxM&t=504s"
               style="color: white" target="_blank"> <u>Movie Trailer</u></a>
            </div>
            <h4 class="text-center" style="color: white;"  >Score: {{ mark }}</h4>
        </header>


        {% for review in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button"class="close"datadismiss="alert">&times;</button>
            {{ review }}
        </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </main>


</body>
</html>