{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
<div class = "review-form">
    {{ render_form(myform, action=request.full_path)}}
</div>

<h5>{{ records|length }} Recorded Movie Reviews
    <small class="float-right">
        <a hred = "#bottom" title="Go Botoom">&darr;</a>
    </small>
</h5>

<div class="list-group">
    {% for record in records %}
    <a class="list-group-item list-group-item-action flex-column">
        <div class="d=flex w-100 justify-content-between">
            <h5 class="mb-lg-4" style="color: #DB7093">{{ record.username }}
                <small class="text-muted">
                    #{{ loop.revindex }}
                </small>
            </h5>
                    <small data-toggle="tooltip" data-placement="top"
                           data-timestamp="{{ record.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                           data-delay="500">
                        {{ moment(record.timestamp).fromNow(refresh=True) }}
                    </small>
            <span> {{ record.mark }}</span>
        </div>
        <p class="mb-1" style="color: #1b1e21">{{ record.review }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}